@import './base/variables';

.subcontainer__content {
    @extend %subcontainer;
    justify-content: center;
    align-items: center;
}
.subcontainer__tittle {
    @extend %subcontainer;
    justify-content:left;
} 