:root {

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: "";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(236, 236, 236);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif !important;
}

main {
    display: flex;
    justify-content: center;
}

header {
    justify-content: center;
}

footer {
    bottom: 0px;
    width: 100%;
}

/*////gral////*/
.container {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    max-width: 1080px;
    margin-bottom: 90px;
}

.subcontainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.subcontainer__tittle {
    display: flex;
    padding: 10px;
    justify-content:left;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 20px;
    border-right: 1px solid rgb(105, 104, 104);
}

.tittle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(55, 55, 55);
    font-size: 5rem;
    font-weight: bolder;
}

.subtittle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(105, 104, 104);
    font-size: 2em;
    font-weight: bolder;
}

.b {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.big__tittle {
    vertical-align: text-bottom;
    font-size: 7rem;
    font-weight: bolder;
    line-height: 90%;
    color: rgb(139, 139, 139);
}

.text__p {
    display: flex;
    flex-direction: column;
    color: rgb(55, 55, 55);
    font-size: 1rem;
    justify-content: end;
    margin-right: 20px;
    flex-basis: 55%;
}

.text__s {
    display: flex;
    color: rgb(55, 55, 55);
    font-size: 1rem;
    flex-basis: 50%;
    margin: 10px;
}

/*////icons////*/
.material-symbols-outlined {
    color: rgb(91, 91, 91) !important;
    margin-right: 10px;
    margin-left: 20px;
}

.material-symbols-outlined.index {
    font-size: 40px;
}

/*INDX*/
.flex__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background__image {
    background-image: url(../img/fondo__myo.png);
    transition: 0.9s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.background__image:hover {
    background-image: url(../img/fondo__myo_hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    margin: 0;
    height: 100vh;
}

.container__index {
    width: 100%;
    vertical-align: middle;
}

.nav__index__logo {
    display: flex;
    margin-top: 0px;
    background-color: rgb(246, 251, 113);
    border-radius: 50%;
    width: 80px;
    margin-right: 40px;
}

.nav__index__logo:hover {
    filter: none;
}

.nav__index {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.nav__index__item {
    margin-top: 40px;
    margin-left: 0px;
}

.nav__index__link {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    color: rgb(55, 55, 55);
    font-size: 2rem;
    text-indent: 50px;
    margin-top: 25px;
}

.nav__index__link::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid rgb(55, 55, 55);
    width: 4rem;
    margin: 0rem 0rem;
    transform: translateY(2rem);
}

.nav__index__link:hover {
    color: rgb(246, 251, 113);
}

.nav__index__link:hover:before {
    border-top: .3rem solid rgb(246, 251, 113);
}

.contact {
    color: rgb(246, 251, 113);
    font-size: 2rem;
    text-indent: 50px;
    margin-top: 25px;
}

.contact::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid rgb(246, 251, 113);
    width: 4rem;
    margin: 0rem 0rem;
    transform: translateY(2rem);
}

.contact:hover {
    color: rgb(55, 55, 55);
}

.contact:hover:before {
    border-top: .3rem solid rgb(55, 55, 55);
}

.material-symbols-outlined {
    color: rgb(246, 251, 113);
    margin-top: 36px;
}

.nav__footer--index {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    /*  background-color: rgb(54, 54, 54); */
}

.nav__footer__link--index {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 40px;
}

.nav__footer__link--grid {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 35px;
    color: rgb(87, 194, 244);
}

.nav__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    height: 15vh;
    margin: 0;
    background-color: rgb(54, 54, 54);
}

.nav__footer__item {
    display: flex;
    color: rgb(255, 255, 255) !important;
}

.nav__footer__linkGeo {
    color: white !important;
}

.nav__footer__link {
    color: rgb(246, 251, 113) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 40px;
    text-decoration: none;
}


/*BIO*/
.nav {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    top: 0px;
    padding: 10px;
    width: 100%;
    height: 18vh;
}

.nav__logo {
    /* 
    background-color: rgb(246, 251, 113); */
    border-radius: 30%;
    margin-right: 223px;
}

.menu {
    display: flex;
    justify-content: right;
    background-color: rgb(236, 236, 236);
    ;
}

.menu__item {
    justify-content: right;
}

.menu__item__link {
    display: flex;
    color: rgb(55, 55, 55);
    font-size: 1rem;
    text-indent: 0px;
    margin: 40px;
}

.menu__item__link::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid rgb(55, 55, 55);
    width: 2rem;
    margin: 0rem 0.2rem;
    transform: translateY(1rem);
}

.menu__item__link--active {
    text-decoration-line: line-through;
    color: rgb(239, 99, 12);
    font-weight: bold;
}

.img__profile {
    width: 30%;
    justify-content: center;
    flex-basis: 30%;
}

.material-symbols-outlined.bio {
    font-size: 2rem;
    margin-left: 9px;
    margin-right: 0;
}

.right {
    color: white !important;
}

.bio2 {
    margin-right: 0;
    font-size: 2rem;
}

.text__s__bold {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/*ART WORK*/
.container__art {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-top: 100px;
}

.mobile {
    display: none;
}

.tittle__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
    max-width: 1080px;
}

.art__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

.art__content__tittle {
    margin: 20px;
    font-size: 3rem;
}

.art__content__description {
    margin: 20px;
    font-size: 1rem;
    width: 100%;
}

.art__img {
    width: 100%;
}

/*ILLUS*/
.material-symbols-outlined.illus {
    font-size: 1.5rem;
    margin-top: 0px;
}

.illurstration {
    /*   background-color: bisque; */
    /*   width: 100%; */
    margin-bottom: 90px;
}

.container__illus {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}

.container__illus__img {
    background-color: rgba(249, 255, 88, 0.298);
    width: 280px;
    height: 300px;
    margin: 20px 70px 10px 20px;
}

.text__img {
    text-align: left;
    margin-left: 20px;
    width: 280px;
    margin-bottom: 10px;
    border-top: 1px solid;
    padding-top: 9px;
}

.text__img__tittle {
    font-weight: bold;
    font-size: 1.5rem;
}

/*FORM*/
.cuerpo {
    display: inline-block;
    margin-left: 25%;
    height: 400px;
    margin-bottom: 200px;
}

.content {
    float: left;
    margin-top: 120px;
}

.content__mail {
    width: 600px;
    padding: 10px;
}

.content__contact__item {
    padding: 10px 10px 20px;
    margin: 15px 0px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-bottom: solid 1px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 400px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.content__saludo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 45px;
    width: 400px;
}

.content__contact__btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 200px;
    height: 40px;
    background-color: khaki;
    border-style: none;
    margin-top: 20px;
}

/*//////////GRID///////////*/
.grid {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.nav__grid {
    display: flex;
}

.background__grid {
    background-image: url(../img/fondo__myo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.background__grid:hover {
    background-image: url(../img/fondo__myo_hover.png);
}

.nav__grid__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-left: 90px;
}

.nav__grid__logo {
    display: inline;
    flex-basis: 30%;
}

.nav__grid__items {
    display: inline;
    flex-basis: 40%;
    justify-content: right;
}

.nav__grid__link {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.footer__grid {
    background-color: rgb(54, 54, 54);
    height: 20vh;
}

/*GRID GALLERY*/
.container__grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "imagen-1 imagen-2 imagen-3"
        "imagen-4 imagen-4 imagen-5";
    width: 90%;
    column-gap: 5px;
    row-gap: 5px;
}

.imagen-1 {
    grid-area: imagen-1;
    width: 100%;
    background-color: blueviolet;
}

.imagen-2 {
    grid-area: imagen-2;
    width: 100%;
    background-color: chocolate;
}

.imagen-3 {
    grid-area: imagen-3;
    width: 100%;
    background-color: rgb(94, 206, 229);
}

.imagen-4 {
    grid-area: imagen-4;
    width: 100%;
    background-color: rgb(42, 210, 30);
}

.imagen-5 {
    grid-area: imagen-5;
    width: 100%;
    background-color: rgb(218, 229, 94);
}

.container__illus__grid {
    height: 300px;
    background-color: rgb(132, 251, 134);
    margin: 20px 0px 10px 0px;
}

.text__img__grid {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    border-top: 1px solid;
    padding-top: 9px;
    width: 95%;
}

a.gallery__grid {
    font-size: 1.8rem;
    color: rgb(61, 200, 239);
}


/*BOOSTRAP*/
.navbar {
    background-color: rgb(236 236 236);
}

.collapse {
    justify-content: flex-end;
}

.container-fluid {
    max-width: 1080px;
}

.navbar-nav {
    margin-top: 20px;
}

.nav-link {
    margin-left: 50px;
}

.nav-link.active {
    text-decoration-line: line-through;
    color: rgb(239, 99, 12) !important;
    font-weight: bold;
}

.nav-link::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid rgb(55, 55, 55);
    width: 2rem;
    margin: 0rem 0.5rem;
    transform: translateY(0rem);
}

.btn {
    width: 100%;
    margin-bottom: 10px;
}

.carousel-inner {
    height: 100%;
    background-color: yellow;
}
.card{
    margin: 20px;
}

/*MEDIA*/
@media only screen and (max-width: 768px) {
    .background__image {
        background-image: url(../img/fondo__myo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
    }
    .container__index {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav__index {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .nav__index__logo {
        margin: 0;
    }

    .nav__index__link {
        font-size: 2.5rem;
    }

    .nav__footer--index {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
    }
    .nav__footer__link--index {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 0px;
    }

    .nav__footer {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .nav__footer__item {
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255) !important;
    }

    .nav__footer__link {
        color: rgb(246, 251, 113) !important;
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav__logo {
        margin: 0;
    }

    .menu {
        width: 100%;
        flex-wrap: wrap;
        top: 0;
        justify-content: center;
    }

    .menu__item__link {
        margin: 5px;
        font-size: 1.5rem;
    }

    .img__profile {
        display: none;
    }

    .material-symbols-outlined {
        margin-left: 0;
    }

    .mobile {
        display: none;
    }

    .container {
        width: 80%;
        width: 100%;
        margin-top: 190px;
    }

    .subcontainer {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .tittle {
        word-wrap: break-word;
    }

    .card {
        flex-direction: column;
        border-right: none;
        justify-content: center;
    }
    
    .cards {
        border-right:none;
    }
    .text__p {
        margin: 10px;
        flex-basis: 100%;
    }

    .text__s {
        flex-basis: 100%;
    }

    .container__illus__img {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .text__img {
        margin: 20px 0 10px 0;
    }

    .content__mail {
        margin: 0;
        width: 90%;
        margin-left: 20px;
    }

    .container__txt {
        width: 100%;
    }

    .content__contact__btn {
        width: 100%;
    }

    .content__contact__item {
        width: 100%;
    }

    .content__maps {
        flex-direction: column;
    }

    .maps {
        margin-left: 0px;
    }

    .nav__grid {
        width: 100%;
        justify-content: center;
    }

    .background__grid {
        background-image: url(../img/fondo__myo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 0;
    }

    .container__grid {
        width: 100%;
    }

    .gallery__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "imagen-1 imagen-2 "
            "imagen-3 imagen-4"
            "imagen-5 imagen-5";
        width: 100%;
        margin: 0;
    }

    .container__illus__grid {
        width: 100%;
        background-color: rgb(132, 251, 134);
        margin: 20px 0px 10px 0px;
    }

}



@media only screen and (max-width: 320px) {
    .nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        top: 0;
    }

    .nav__logo {
        margin-top: 90px;
    }

    .nav__index {
        top: 0;
        margin-top: 10px;
    }

    .menu__item__link {
        font-size: 2rem;
    }

    .menu__item__link--active {
        font-size: 2rem;
        word-wrap: break-word;
    }

    .desk {
        display: none;
    }

    .container {
        width: 100%;
        margin-top: 190px;
    }

    .subcontainer {
        width: 100%;
    }

    .menu__item__link {
        margin: 0;
    }

    .text__p {
        width: 100%;
    }

    .tittle {
        width: 100%;
        text-align: center;
        line-height: 4rem;
        word-wrap: break-word;
    }

    .content__maps {
        overflow: hidden;
    }

    .nav__footer--index {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }

    .nav__footer__link--index {
        font-size: 2rem;
        margin: 5px;
    }

    .nav__footer {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .nav__footer__item {
        margin: 5px;
    }

    .nav__footer__link {
        font-size: 2rem;
    }

    .material-symbols-outlined.nav__footer__item--index {
        display: none;
    }

    .material-symbols-outlined.nav__footer__item {
        display: none;
    }

    .desk {
        display: none;
    }

    .mobile {
        display: block;
    }

    .container__grid {
        width: 300px !important;
    }

    .gallery__grid {
        display: grid;
        grid-template-columns: 300px;
        grid-template-areas:
            "imagen-1"
            "imagen-2"
            "imagen-3"
            "imagen-4"
            "imagen-4"
            "imagen-5";
        column-gap: 5px;
        row-gap: 5px;
    }

    .card {
        margin: 20px;
    }
    .cards {
        border-right:none;
    }
}